importFrom("stats", "aggregate")
importFrom("utils", "write.table")
importFrom("GSVA", "gsva")
importFrom("GSEABase", "geneIds")
importFrom("pracma", "lsqlincon")
importFrom("utils", "data")
exportPattern("^[[:alpha:]]+")
